<!DOCTYPE html>
<html>
<head>
  <title>Cream Rises</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body ng-app="flapperNews">


  <% flash.each do |name, msg| %>
    <% if msg.class == Array %>
      <% msg.each do |message| %>
        <%= content_tag :div, message, :id => "flash_#{name}" %>
      <% end %>
    <% else %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %> #don't forget the extra end
  <% end %>


<div class="row">
  <div class="col-xs-12">
    <% flash.each do |name, msg| %>
    <% alert_class = case name
    when :notice then "success"
    when :alert then "danger"
    else name end %>
    <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= msg %>
    <% end %>
    <% end %>
  </div>
</div>

<div ng-include="'nav/_nav.html'"></div>
<div class="row">
  <div class=" col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-3">

    <ui-view></ui-view>
  </div>
</div>

</body>
</html>
